Options +FollowSymLinks
RewriteEngine On

# Redireccionar todas las peticiones al directorio public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L,QSA]
